import logging

# Login credentials
user = ""
pwd = ""

# Settings:
assume_persons_without_role_are_authors = True
debug_unsupported_templates = False
include_url_and_first_parameter_in_hash_algorithm = False
loglevel = logging.INFO
press_enter_to_continue = False
cache_and_upload_enabled = False
user_agent = "wcdimportbot 0.2.0-alpha"


wikibase_url = "https://wikicitations.wiki.opencura.com"
mediawiki_api_url = wikibase_url + "/w/api.php"
mediawiki_index_url = wikibase_url + "/w/index.php"
sparql_endpoint_url = wikibase_url + "/query/sparql"
