marshmallow~=3.15.0
mwparserfromhell
requests~=2.27.1
pydantic~=1.9.0
pyssdb~=0.4.2
python-dateutil~=2.8.2
pytest
rich~=11.2.0
tld~=0.12.6
#git+http://github.com/LeMyst/WikibaseIntegrator@v0.12.0rc3#egg=wikibaseintegrator
#git+http://github.com/LeMyst/WikibaseIntegrator@rewrite-wbi#egg=wikibaseintegrator
#git+http://github.com/LeMyst/WikibaseIntegrator@189b102bfa33ed66bea26e0de50674c062410542#egg=wikibaseintegrator
# This implements https://github.com/LeMyst/WikibaseIntegrator/pull/341
git+https://github.com/dpriskorn/WikibaseIntegrator.git@patch-7#egg=wikibaseintegrator
#pywikibot~=7.2.0 we use the fork below to avoid annoying logging for the user
git+http://github.com/dpriskorn/pywikibot@remove-verbose-logging#egg=pywikibot
