marshmallow==3.17.0
mwparserfromhell
pydantic~=1.9.0
pyssdb~=0.4.2
python-dateutil~=2.8.2
pytest
requests==2.28.1
rich==12.5.1
tld~=0.12.6
#wikibaseintegrator~=0.12.0
#git+http://github.com/LeMyst/WikibaseIntegrator@v0.12.0rc3#egg=wikibaseintegrator
#git+http://github.com/LeMyst/WikibaseIntegrator@rewrite-wbi#egg=wikibaseintegrator
#git+http://github.com/LeMyst/WikibaseIntegrator@189b102bfa33ed66bea26e0de50674c062410542#egg=wikibaseintegrator
# This implements https://github.com/LeMyst/WikibaseIntegrator/pull/341
#git+https://github.com/dpriskorn/WikibaseIntegrator.git@patch-7#egg=wikibaseintegrator
#git+http://github.com/LeMyst/WikibaseIntegrator@541da2ea02e9c386c4a1b83e15781869ea57d0cf#egg=wikibaseintegrator
# This reintroduce something we need
#git+https://github.com/dpriskorn/WikibaseIntegrator.git@fix_remove_claims#egg=wikibaseintegrator
git+https://github.com/dpriskorn/WikibaseIntegrator.git@dpriskorn-modification-failed-fix#egg=wikibaseintegrator
#pywikibot~=7.2.0 we use the fork below to avoid annoying logging in the CLI
git+http://github.com/dpriskorn/pywikibot@remove-verbose-logging#egg=pywikibot
